<p id="notice"><%= notice %></p>

<div class="col-lg-6 col-md-8 col-sm-12">

  <h1>
    <%= @product.name %>
  </h1>

  <p>
    <%= image_tag(@product.image_url, class: "img-fluid img-zoom", data_zoom_image: @product.image_url) %>
  </p>

  <p>
    <%= @product.description %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@product.price/100.to_f) %>
  </p>

  <p>
    <%= form_with(url: '/payments/create') do |form| %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>
  </p>

  <p class="d-inline">
    <strong>Average Rating:</strong>
    <div class="rated d-inline" id="average-rating" data-score="<%= @product.average_rating %>"></div>
  </p>

</div>

<%= render 'new_comment' %>
<%= render 'comments' %>
<%= will_paginate(@comments, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
